body{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(heart.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;   
}

.login-page{
    width: 600px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 800px;
    margin: 0 auto 20px;
    padding: 30px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: GRAY;
    width: 100%;
    border: 0;
    padding 20px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 34px;
  width: 33.33%;
  z-index: 1;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Question {background-color: #5680E9;}
#Test {background-color: #5680E9;}
#Score {background-color: #5680E9;}

/* Split the screen in half */
.split {
  height: 97%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 70px;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #84CEEB;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #5AB9EA;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}